@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
	margin: 0;
	padding: 0;
background-color: ;
}
body{
background-color: lightgrey;
}
/*indexa*/
.main{
	width: 90%;
	height: 85vh;
	margin: 50px auto;
	background: url("imgs/design.jpg");
	background-size: cover;
	border-radius: 10px;
	box-shadow: -6px -6px 7px 2px #fff, 6px 10px 10px 2px rgba(0, 0, 0, 1);

}

.nav{
	width: 100%;
	height: 70px;
	border-radius: 20px 20px 0 0;
	background: rgba(0, 0, 0, .1);
	display: flex;
	justify-content: space-between;

}
.nav ul{
	display: flex;
	margin-top: 25px;

}
.nav li{
	list-style-type: none;
    margin-right: 100px;

}
.nav a{
	text-decoration: none;
	color: white;
	font-size: 17px;
}
.nav ul li a:hover{
	cursor: pointer;
	color: yellow;
}
.hover-line::after{
	content: '';
	display: flex;
	width: 0%;
	height: 2px;
	background-color: yellow;
    transition: width .3;
}
.hover-line:hover::after{
	width: 100%;
	transition: width .6s;
}

.nav img{
	width: 100px;
	height: 50px;
	border-radius: 20%;
	margin: 5px 0 0 10px;
	/*background: rgba(0, 0, 0, .8);*/
	opacity: .8;
	background-clip: 2px;
}
.nav #icon{
	font-size: 20px;
	color: white;
	margin-right: 40px;
}

.mainDiv{
	width: 100%;
	height: 450px;
	
	display: flex;
	justify-content: space-between;

}
.pargraph{
	width: 50%;
	height: 300px;
	/*border: 1px solid red;*/
	border-radius: 0 0 0 10px;
	background: rgba(0, 0, 0, .4);
	margin: 80px auto;
	

	
}
.image{
	width: 40%;
	height: 350px;
	/*border: 1px solid red;*/

	margin: 80px auto;

}
.image::before:hover{
	cursor: pointer;
	margin-bottom: 2px;
	box-shadow: 0 0 10px palevioletred;
	transition: 1s;
	transform: scale(1.0);
}
 #img1{

	width: 100%;
	height: 350px;
	box-shadow: 0px 10px 20px black;
}
#head{
	color: white;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	display: block;
	letter-spacing: 2px;
	margin: 20PX 0 0 100PX;
	text-shadow: 0 2px 8px beige;
}
#head1{
color: white;
	align-items: center;
	justify-content: center;
	font-size: 50px;
	display: block;
	letter-spacing: 2px;
	margin: 5PX 0 0 200PX;
	text-shadow: 0 2px 8px beige;	
}
#btn{

padding: 5px 10px;
color: white;
font-size: 16px;
letter-spacing: 4px;
background: rgba(0, 0, 0, .3);
/*border: 2px solid blue;*/
border-radius: 20px;
margin: 20px 0 0 180px;
transition: .2s;
border: none;

}
#btn:hover{
	cursor: pointer;
	background: blue;
    box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3;
    color: black;
    transition-delay: 1s;
}
.btn{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100px;

}
#a{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	text-decoration: none;
	color: whitesmoke;
	text-transform: uppercase;
	font-size: 16px;
	overflow: hidden;
	transition: .2s;
	/*background: rgba(0, 0, 0, .1);*/
	border-radius: 20px;

}
#a:hover{
	background:blue;
	box-shadow: 0 0 10px #2196f3,0 0 40px #2196f3,0 0 80px #2196f3 ;
    transition-delay: 1s;
    color: black;

}
 #a span{
   position: absolute;
   display: block;
   border-radius: 20px;
}
#a span:nth-child(1){
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,blue);
}
#a:hover span:nth-child(1){
	left: 100%;
	transition: 1s;
}

#a span:nth-child(3){
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,blue);
}
#a:hover span:nth-child(3){
	right: 100%;
	transition: 1s;
	transition-delay: 0.5s;
}
#a span:nth-child(2){
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,blue);
}
#a:hover span:nth-child(2){
	top: 100%;
	transition: 1s;
	transition-delay: 0.25s;
}
#a span:nth-child(4){
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg,transparent,blue);
}
#a:hover span:nth-child(4){
	bottom: 100%;
	transition: 1s;
	transition-delay: 0.75s;
}

.para{
	display: inline-flex;
	text-transform: uppercase;
	font-family: 'Abril Fatface', sans-serif;
	text-align: center;
	margin-left: 150PX;

}
.char{
	color: transparent;
	-webkit-text-stroke: 2px hsl(189,90%,60%);
	font-size: 60px;
	/*font-weight: 100px;*/
	/*position: relative;*/
	perspective: 200px;
	line-height: 0.71;
	text-align: center;
	text-shadow: 0 4px 10px black;
	margin: 20PX 0 0 10PX;
}
.para .char::before{
	content: attr(data-text);
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	color: hsl(189, 100%, 50%);
	transition: all 1s ease calc(0.2s * var(--i));
	transform-origin: left top;
}
.para:hover .char::before{
	transform: rotate(200deg);
	opacity: 0;
	cursor: pointer;
}
.char{

}
/*End of indexa page*/
/*start of about page*/
.main1{
	width: 90%;
	height: 85vh;
	margin: 50px auto;
	background: url("imgs/design.jpg");
	background-size: cover;
	border-radius: 10px;
	box-shadow: -6px -6px 7px 2px #fff, 6px 10px 10px 2px rgba(0, 0, 0, 1);

}
.mainDiv1{
	width: 100%;
	height: 450px;
	
	display: flex;
	justify-content: space-around;

}
.pargraph1{
	margin-top: 90px;
	width: 40%;
	height: 300px;
	background: url("imgs//ho.jpg");
	background-size: cover;
	box-shadow:0px 0px 10px  5px orangered;

	/*align-items: center;*/
	/*border: 1px solid red;*/
	/*border-radius: 40px 10px 40px  10px;*/
	

	
}
.image1 ul{
	position: absolute;
	top: 72%;
	left: 58%;
	transform: translate(-50%,-50%);
	margin: 0;
	padding: 0;
	display:flex ;

}
.ico ul li a{
	text-decoration: none;
	font-size: 20px;
	color: black;
	position: relative;
	width: 40px;
		list-style-type: none;	
	height: 40px;
	background: black;
	display: block;
	text-align: center;
	margin: 0 10px;
	padding: 6px;
	display: flex;
	border-radius: 50%;
	box-sizing: border-box;
	box-shadow: 0 6px 8px rgba(255,0,0);
	background: linear-gradient(0deg,black,white);
	transition: 0.5s;
}
.ico ul li a .fa{
	width: 100%;
	height: 100%;
	display: block;
	background: linear-gradient(0deg,white,black);
	border-radius: 50%;
	line-height: calc(40px - 12px);
	color: black;
	transition: 0.5s;
	
}

.ico ul li a .fa:hover{
	cursor: pointer;
	color: red;
}

.ico ul li a:hover{
	box-shadow: 0 2px 5px rgba(255, 0, 0, 1.0);
	color: red;
}
.ico ul li {
	color: white;
	list-style-type: none;

}
.ico ul li:nth-child(1) a:hover .fa{
      color: blue;
}
.ico ul li:nth-child(2) a:hover .fa{
      color: cyan;
}.ico ul li:nth-child(3) a:hover .fa{
      color: #25D366;
}.ico ul li:nth-child(4) a:hover .fa{
      color: red;
}


.image1{
	width: 50%;
	height: 300px;
	/*border: 1px solid red;*/
    background: rgba(0, 0, 0, .7);
	margin-top: 90px ;
	box-shadow:0px 0px 10px  1px orangered;

}
.image1 h2{
	font-size: 30px;
	color: white;
	text-shadow: 0 0 10px blueviolet;
	text-align: center;
    margin-top: 10px;
}
.image1 p{
	font-size: 15px;
	color: white;
	text-shadow: 0 0 2px blueviolet;
	margin: 30px;
}
/*End of about page*/
/*start od design page*/
.main2{
	width: 90%;
	height: 85vh;
	margin: 50px auto;
	background: url("imgs/design.jpg");
	background-size: cover;
	border-radius: 10px;
	box-shadow: -6px -6px 7px 2px #fff, 6px 10px 10px 2px rgba(0, 0, 0, 1);


}
.blog{
	display: flex;
}
.container {
  position : relative;
  width : 1000px;
  display : flex;

 /* align-items : center;
  justify-content : center;*/
  flex-warp : warp;
  padding : 30px;  
}
.card h3{
	text-shadow:0 0 5px antiquewhite;
	font-size: 24px;
	
}


.container .card {
  position: relative;
  max-width : 220px;
  height : 190px;  
  background-color : rgba(0, 0, 0, .7);
  margin: 60px 0 0 50px;
  padding : 20px 15px;
  
  display : flex;
  flex-direction : column;
  box-shadow : 0 5px 20px rgba(0,0,0,0.5);
  transition : 0.3s ease-in-out;
  border-radius : 15px;
  box-shadow: 0 0 10px 2px red;
}
.container .card:hover {
  height : 300px;    
}


.container .card .image {
  position : relative;
  width : 200px;
  height : 190px;
  border-radius: 20px;
  top : -40%;
  left: 0px;
  box-shadow : 0 5px 20px rgba(0,0,0,0.2);
  z-index : 1;
}

.container .card .image img {
  max-width : 100%;
  border-radius : 15px;
}

.container .card .content {
  position : relative;
  top : -230px;
  padding : 10px 15px;
  color : #fff;
  text-align : center;
  
  visibility : hidden;
  opacity : 0;
  transition : 0.3s ease-in-out;
    
}

.container .card:hover .content {
   margin-top : 30px;
   visibility : visible;
   opacity : 1;
   transition-delay: 0.2s;
  
}


#icons{
	font-size: 18px;
	color: white;
	margin:10px -170px 0 0;

}
#icons:hover{
	
	color: red;
	font-size: 18.3px;
	text-shadow: 0 0 5px red;
	transition: .6s;
}
/*End of design page*/
.main3{
	width: 90%;
	height: 85vh;
	margin: 50px auto;
	background: url("imgs/design.jpg");
	background-size: cover;
	border-radius: 10px;
	box-shadow: -6px -6px 7px 2px #fff, 6px 10px 10px 2px rgba(0, 0, 0, 1);

}
#iconss{
	font-size: 20px;
	color: white;
	margin: 10px 10px 0 0;
}