body{
	margin: 0;
	padding: 0;
    background:url("C:\Users\Rohan\Downloads\lexus-lc-500-convertible-2021-5k-8k-7098x4162-1438.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#logo{
	height: 40px;
	width: 50px;
	border-radius: 50%;
}
.nav-link{
	font-weight: 600;
	font-size: 16px;
	color: white;
	border: 1px solid orange;
	margin: 0px 10px 0 0;
	border-radius: 17px;
}
.nav-link:hover{
	cursor: pointer;
	background: orange;
	color: black;
	transition: .3s;
}
.firster{
	width: 100%;
	height: 750px;
	background: url("imgs//mr.jpg") no-repeat;
	background-size: cover;
	padding: 0	;

}
.navbar{
	
	width: 100%;
	height: 60px;
	background: rgb(2 2 2);
	z-index: 1;
	position: fixed;
	top: 0;
	}

.heading{
	font-size: 110px;
	font-weight: 700;
	color:lightslategray;
	text-align: center;
	text-shadow: 0 0 10px ghostwhite, 0 3px 5px whitesmoke;
	letter-spacing: 5px;
	margin-top: 180px;
}
#input{
	width: 100%;
	height: 30px;
	padding-left: 5px;
}
#size{
	height: 20px !importent;
}
.info1{
	font-size: 16px;
	font-weight: 600;
	line-height: 30px;
	align-items: flex-end;
	color: lightcyan;

}
.H{
	border: none;
}
.mainRow{
	height: 750px;
	width: 100%;
	justify-content: space-between;

}
.varticalNav{
	border: 1px outset grey;
	background:black;
	height: 400px;
	width: 40px;
	margin-top: 150px;
	border-radius: 10px;


}
.mainRow .varticalNav{
	position: fixed;
	top: 0;
	right: 0;
	background: #000;
}
.icon{
	color: dimgray;
	font-size: 23px;
	display: block;
	align-items: center;
	margin: 40px 0 0 8px;
	/*border-radius: 50%;*/

}
.icon:hover{
	cursor: pointer;
	color: green;
}
.icons{
	color: dimgray;
	font-size: 21px;
	display: block;
	align-items: center;
	margin: 24px 0 0 8px;
	/*border-radius: 50%;*/

}
.icons:hover{
	cursor: pointer;
	color: red;
}
.ico{
	color: dimgray;
	font-size: 22px;
	display: block;
	align-items: center;
	margin: 24px 0 0 8px;
	/*border-radius: 50%;*/

}
.ico:hover{
	cursor: pointer;
	color: blue;
}
.icon_1{
	color: dimgray;
	font-size: 22px;
	display: block;
	align-items: center;
	margin: 24px 0 0 12px;
	/*border-radius: 50%;*/

}
.icon_1:hover{
	cursor: pointer;
	color:orange;
}
.icon_2{
	color: dimgray;
	font-size: 22px;
	display: block;
	align-items: center;
	margin: 24px 0 0 8px;
	/*border-radius: 50%;*/

}
.icon_2:hover{
	cursor: pointer;
	color: darkred;
}
.icon_3{
	color: dimgray;
	font-size: 22px;
	display: block;
	align-items: center;
	margin: 24px 0 0 8px;
	/*border-radius: 50%;*/

}
.icon_3:hover{
	cursor: pointer;
	color: salmon;
}


.row2{
	width: 101%;
	height: 500px;
	border: 1px solid red;
	background-color: rgba(0, 0, 0, .5);
}







@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

/*
body {
background: #DFC2F2;
	background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
	background-attachment: fixed;	
	background-size: cover;
  
	}*/

/*#container{
	box-shadow: 0 15px 30px 1px grey;
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
  
	
}
*/
	.dark2{
		height: 60vh;
		/*justify-content: space-between;*/
	}


.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	/*padding: 30px;*/
	height: 100%;
	float: left;
	width: 40%;

}

#container .product-details h1{
	font-family: 'Bebas Neue', cursive;
	display: inline-block;
	position: relative;
	font-size: 30px;
	color: #344055;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}



	
 .About h1{
	font-weight: 1000;
	color: gray;
	padding-bottom: 50px;
	margin-left: 50px;
	text-shadow: 0 0 5px 3px red;

}

.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


#container .product-details  {
font-family: 'EB Garamond', serif;
	text-align: center;
	font-size: 18px;
	color: #7d7d7d;
	
}
.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
.btn {

	transform: translateY(0px);
	transition: 0.3s linear;
	background:  #809fff;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	/*margin-top: -1000px;*/
	
}

.btn:hover{transform: translateY(-6px);
	background: #1a66ff;}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



.product-image  {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 50vh;
	/*float: right;*/
	width: 45%;
	/*display: inline-block;*/
	/*padding-top: 50px;*/
	margin-top: 50px;
}

/*#container img {width: 100%;height: 100%;}*/

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Bree Serif', serif;
    transition: all 0.3s ease-out;
    transform: translateX(-95%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 105%;
    cursor: pointer;
    /*padding-top: 50px;*/
    color: #FFF;
    height: 100%;
    width: 90%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(60px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;
;}
.product-image:hover img {transform: scale(1.2, 1.3); 
box-shadow: 0 0 5px 4px red}
#imgs{
	height: 50vh;
	width: 80%;
	border-radius: 20px;
	margin-left: 40px;
	/*padding-bottom: 200px;*/
}